<section id="portfolio" class="portfolio-area">
  <div class="container">
    <h2 class="block_title">CHARACTERS</h2>
    <div class="row port cs-style-3">
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/red/1.png" alt="1">
          <figcaption>
            <h3>앗따거</h3>
            <span>가수를 꿈꾸는 <br />30년차 백수</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/red/2.png" alt="2">
          <figcaption>
            <h3>마미손</h3>
            <span>페르소나별 최초로<br /> 지구에 진출한 복면 래퍼</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/red/3.png" alt="3">
          <figcaption>
            <h3>핑신</h3>
            <span>가슴의 요술봉을 뽑아줄<br />핑크신부를 찾는 장군</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/red/4.png" alt="4">
          <figcaption>
            <h3>원 슈</h3>
            <span>마미손의 원픽!<br />페르소나별 셀럽</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/red/5.png" alt="5">
          <figcaption>
            <h3>리태리</h3>
            <span>페르소나별의 <br />관리마스터 성대 관리의 신</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/red/6.png" alt="6">
          <figcaption>
            <h3>토솔리드</h3>
            <span>재미교포 출신의 <br />93학번 새내기 대학생</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/red/7.png" alt="7">
          <figcaption>
            <h3>토솔리드</h3>
            <span>재미교포 출신의 <br />93학번 새내기 대학생</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <!-- <div class="col-xs-6">
        <div class="btn-center"><a href="#" class="big button">View all</a></div>
      </div> -->
    </div>
    <!-- RED FINISH -->
    <!-- RED FINISH -->
    <!-- RED FINISH -->
    <div class="row port cs-style-3">
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/yellow/1.png" alt="1">
          <figcaption>
            <h3>자니또</h3>
            <span>4개의 인격을 가진<br /> 청년 CEO</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/yellow/2.png" alt="2">
          <figcaption>
            <h3>MC양치</h3>
            <span>어린이들에게 인기 최고<br /> 마마보이 양치 래퍼</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/yellow/3.png" alt="3">
          <figcaption>
            <h3>냉장고</h3>
            <span>'자칭' 터프한<br /> 황야의 무법자</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/yellow/4.png" alt="4">
          <figcaption>
            <h3>아가미맨</h3>
            <span>환경파괴범을 잡기 위해<br /> 육지로 올라온 인면어</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/yellow/5.png" alt="5">
          <figcaption>
            <h3>조격대</h3>
            <span>한국판 툼레이더! <br /> 특수요원 출신 여전사</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/yellow/6.png" alt="6">
          <figcaption>
            <h3>깡 와사비</h3>
            <span>깡에 살고 깡에 죽는<br /> 상남자(?)</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <!-- <div class="col-xs-6">
        <div class="btn-center"><a href="#" class="big button">View all</a></div>
      </div> -->
    </div>
    <!-- YELLOW FINISH -->
    <!-- YELLOW FINISH -->
    <!-- YELLOW FINISH -->
    <div class="row port cs-style-3">
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/purple/1.png" alt="1">
          <figcaption>
            <h3>냉동영구</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/purple/2.png" alt="2">
          <figcaption>
            <h3>설스타</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/purple/3.png" alt="3">
          <figcaption>
            <h3>소피아팽</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/purple/4.png" alt="4">
          <figcaption>
            <h3>시바스찬</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/purple/5.png" alt="5">
          <figcaption>
            <h3>씬스틸러</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/purple/6.png" alt="6">
          <figcaption>
            <h3>치키타</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <!-- <div class="col-xs-6">
        <div class="btn-center"><a href="#" class="big button">View all</a></div>
      </div> -->
    </div>
    <!-- PULPLE FINISH -->
    <!-- PULPLE FINISH -->
    <!-- PULPLE FINISH -->
    <div class="row port cs-style-3">
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/green/1.png" alt="1">
          <figcaption>
            <h3>예비너스</h3>
            <span>아름다움과 상품 홍보를 <br />권장하는 마녀</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/green/2.png" alt="2">
          <figcaption>
            <h3>태그태거</h3>
            <span>페르소나별 최초의 <br />태그 전문형사</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/green/3.png" alt="3">
          <figcaption>
            <h3>서주경</h3>
            <span>전통주 업계 1인자로 몸에 <br />붙어있는 술상을 최초로 개발</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/green/4.png" alt="4">
          <figcaption>
            <h3>플렉송</h3>
            <span>사구팔구 분파장<br /> 정신적 지주</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/green/5.png" alt="5">
          <figcaption>
            <h3>재키아이둘</h3>
            <span>육아9단 주부 래퍼</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/green/6.png" alt="6">
          <figcaption>
            <h3>땡 지</h3>
            <span>방송국에게 기생하며<br /> 아이돌 메신저를 자처함</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/green/7.png" alt="7">
          <figcaption>
            <h3>장 미</h3>
            <span>거친 외모와 달리 여린 심성을<br /> 지닌 유치원 선생님</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/green/8.png" alt="8">
          <figcaption>
            <h3>마이애미 영</h3>
            <span>페르소나별 우주톱가수</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <!-- <div class="col-xs-6">
        <div class="btn-center"><a href="#" class="big button">View all</a></div>
      </div> -->
    </div>
    <!-- GREEN FINISH -->
    <!-- GREEN FINISH -->
    <!-- GREEN FINISH -->
    <div class="row port cs-style-3">
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/blue/1.png" alt="1">
          <figcaption>
            <h3>백성수</h3>
            <span>언제 어디서나 <br />나타나는 공간여행자</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/blue/2.png" alt="2">
          <figcaption>
            <h3>무소유 맛간디</h3>
            <span>나눔으로 행복을 <br />느끼는 사회운동가</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/blue/3.png" alt="3">
          <figcaption>
            <h3>리미티드 본</h3>
            <span>페르소나별의 <br /> 패리스 힐튼</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/blue/4.png" alt="4">
          <figcaption>
            <h3>인자벨라</h3>
            <span>멸망한 셰어 왕가의 마지막 <br /> 여왕이자 나누구 분파장</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/blue/5.png" alt="5">
          <figcaption>
            <h3>존나데</h3>
            <span>세계 3대 <br />엉덩이 소유자</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <!-- <div class="col-xs-6">
        <div class="btn-center"><a href="#" class="big button">View all</a></div>
      </div> -->
    </div>
    <!-- BLUE FINISH -->
    <!-- BLUE FINISH -->
    <!-- BLUE FINISH -->
  </div><!-- container -->
</section><!-- portfolio -->
