<section id="portfolio" class="portfolio-area">
  <div class="container">
    <h2 class="block_title">My Works</h2>
    <div class="row port cs-style-3">
      <div class="col-md-3 col-sm-6 col-xs-12 item-space">
        <figure>
          <img src="assets/images/card1.png" alt="img04">
          <figcaption>
            <h3>Settings</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 item-space">
        <figure>
          <img src="assets/images/card1.png" alt="img01">
          <figcaption>
            <h3>Camera</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 item-space">
        <figure>
          <img src="assets/images/card1.png" alt="img02">
          <figcaption>
            <h3>Music</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 item-space">
        <figure>
          <img src="assets/images/card1.png" alt="img04">
          <figcaption>
            <h3>Settings</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 item-space">
        <figure>
          <img src="assets/images/card1.png" alt="img01">
          <figcaption>
            <h3>Camera</h3>
            <span>Jacob Cumming</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 item-space">
        <figure>
          <img src="assets/images/card1.png" alt="img02">
          <figcaption>
            <h3>Music</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <!-- <div class="col-xs-12">
        <div class="btn-center"><a href="#" class="big button">View all</a></div>
      </div> -->
    </div>
  </div><!-- container -->
</section><!-- portfolio -->
