<section id="portfolio" class="portfolio-area">
  <div class="container">
    <h2 class="block_title">CHARACTERS</h2>
    <div class="row port cs-style-3">
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/red/1.png" alt="1">
          <figcaption>
            <h3>앗따거</h3>
            <span>Jacob Cummings</span><br/>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/red/2.png" alt="2">
          <figcaption>
            <h3>핑 신</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/red/3.png" alt="3">
          <figcaption>
            <h3>리테리</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/red/4.png" alt="4">
          <figcaption>
            <h3>토솔리드</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <!-- <div class="col-xs-6">
        <div class="btn-center"><a href="#" class="big button">View all</a></div>
      </div> -->
    </div>
    <!-- RED FINISH -->
    <!-- RED FINISH -->
    <!-- RED FINISH -->
    <div class="row port cs-style-3">
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/yellow/1.png" alt="1">
          <figcaption>
            <h3>자니또</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/yellow/2.png" alt="2">
          <figcaption>
            <h3>MC양치</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/yellow/3.png" alt="3">
          <figcaption>
            <h3>냉장고</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/yellow/4.png" alt="4">
          <figcaption>
            <h3>아기미맨</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/yellow/5.png" alt="5">
          <figcaption>
            <h3>조격대</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/yellow/6.png" alt="6">
          <figcaption>
            <h3>깡와사비</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <!-- <div class="col-xs-6">
        <div class="btn-center"><a href="#" class="big button">View all</a></div>
      </div> -->
    </div>
    <!-- YELLOW FINISH -->
    <!-- YELLOW FINISH -->
    <!-- YELLOW FINISH -->
    <div class="row port cs-style-3">
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/purple/1.png" alt="1">
          <figcaption>
            <h3>냉동영구</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/purple/2.png" alt="2">
          <figcaption>
            <h3>설스타</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/purple/3.png" alt="3">
          <figcaption>
            <h3>소피아팽</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/purple/4.png" alt="4">
          <figcaption>
            <h3>시바스찬</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/purple/5.png" alt="5">
          <figcaption>
            <h3>씬스틸러</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/purple/6.png" alt="6">
          <figcaption>
            <h3>치키타</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <!-- <div class="col-xs-6">
        <div class="btn-center"><a href="#" class="big button">View all</a></div>
      </div> -->
    </div>
    <!-- PULPLE FINISH -->
    <!-- PULPLE FINISH -->
    <!-- PULPLE FINISH -->
    <div class="row port cs-style-3">
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/green/1.png" alt="1">
          <figcaption>
            <h3>땡 지</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/green/2.png" alt="2">
          <figcaption>
            <h3>마이애미 영</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/green/3.png" alt="3">
          <figcaption>
            <h3>서주경</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/green/4.png" alt="4">
          <figcaption>
            <h3>예비너스</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/green/5.png" alt="5">
          <figcaption>
            <h3>장 미</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/green/6.png" alt="6">
          <figcaption>
            <h3>태그태거</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/green/7.png" alt="7">
          <figcaption>
            <h3>플렉숑</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <!-- <div class="col-xs-6">
        <div class="btn-center"><a href="#" class="big button">View all</a></div>
      </div> -->
    </div>
    <!-- GREEN FINISH -->
    <!-- GREEN FINISH -->
    <!-- GREEN FINISH -->
    <div class="row port cs-style-3">
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/blue/1.png" alt="1">
          <figcaption>
            <h3>백성수</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/blue/2.png" alt="2">
          <figcaption>
            <h3>맛간디</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/blue/3.png" alt="3">
          <figcaption>
            <h3>인자벨라</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 item-space">
        <figure>
          <img src="assets/images/blue/4.png" alt="4">
          <figcaption>
            <h3>존나데</h3>
            <span>Jacob Cummings</span>
            <!-- <a href="#" class="button">Take a look</a> -->
          </figcaption>
        </figure>
      </div>
      <!-- <div class="col-xs-6">
        <div class="btn-center"><a href="#" class="big button">View all</a></div>
      </div> -->
    </div>
    <!-- BLUE FINISH -->
    <!-- BLUE FINISH -->
    <!-- BLUE FINISH -->
  </div><!-- container -->
</section><!-- portfolio -->
