<!-- services section -->
<section id="services" class="service-area">
  <div class="container">
    <h2 class="block_title">META LINK</h2>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="services">
          <div class="service-wrap">
            <i class="pe-7s-science pe-dj pe-va"></i>
            <h3>Creative Idea</h3>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, commodi.</p> -->
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="services">
          <div class="service-wrap">
            <i class="pe-7s-monitor pe-dj pe-va"></i>
            <h3>Responsive Design</h3>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, commodi.</p> -->
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="services">
          <div class="service-wrap">
            <i class="pe-7s-edit pe-dj pe-va"></i>
            <h3>Clean &amp; Nice</h3>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, commodi.</p> -->
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="services">
          <div class="service-wrap">
            <i class="pe-7s-config pe-dj pe-va"></i>
            <h3>Support</h3>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, commodi.</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- services -->
