<!-- Header area -->
<header id="header" style="background-color: black;">
  <div style="position: absolute; width: 100%; height: 100%;">
    <video #bgVideo muted autoplay height="100%" width="100%" style="object-fit:cover;">
      <source src="../../../../assets/images/bg_video.mp4" type="video/mp4" />
      <source src="../../../../assets/images/bg_video.webm" type="video/webm" />
    </video>
  </div>
  <!-- <div class="center text-center">
    <h1 class="bigheadline">Dark Joe</h1>
    <h4 class="subheadline">The Worst Front End Developer</h4>
  </div> -->
  <div class="bottom">
    <a data-scroll href="#navigation" class="scrollDown animated pulse" id="scrollToContent"><i class="pe-7s-angle-down-circle pe-va"></i></a>
  </div>
</header>
<!-- Navigation area -->
<section id="navigation">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="logo"><a data-scroll href="#body" class="logo-text">
            <img src="../../../../assets/images/logo.png" width="100%" />
          </a></div>
      </div>
      <div class="col-xs-6">
        <div class="nav">
          <a href="#" data-placement="bottom" title="Menu" class="menu" data-toggle="dropdown"><i class="pe-7s-menu"></i></a>
          <div class="dropdown-menu">
            <div class="arrow-up"></div>
            <ul>
              <li><a data-scroll href="#body">MAIN </a><span class="menu-effect"></span></li>
              <li><a data-scroll href="#testimonial">PROGRAM </a><span class="menu-effect"></span></li>
              <li><a data-scroll href="#testimonial-1">PERSONA </a><span class="menu-effect"></span></li>
              <li><a data-scroll href="#portfolio">CHARACTERS </a><span class="menu-effect"></span></li>
              <li><a data-scroll href="#services">METAVERSE <span class="menu-effect"></span></a></li>
              <!-- <li><a data-scroll href="#contact">Contact <i class="pe-7s-help1"></i></a><span class="menu-effect"></span></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p class="copyright">© Copyright 2014 <a href="#" target="_blank">Your Website Link</a></p>
      </div>
      <div class="col-sm-6">
        <p class="designed">Theme by <a href="http://themewagon.com" target="_blank">Themewagon</a></p>
      </div>
    </div>
  </div>
</footer>
