<section id="testimonial" class="testimonial-area">
  <div class="container">
    <!-- <h2 class="block_title">Testimonials</h2> -->
    <div class="row">
      <div class="col-xs-12">
      </div>
      <div id="testimonial-container" class="col-xs-12">
        <div class="testimonila-block">
          <img src="assets/images/bookae_title.png" alt="clients" class="selfshot">
          <p>국내 최초 부캐, 마미손! 그가 사는 별, 페르소나 행성<br/>다섯 분파 부캐들이 이야기하는 언리얼 버라이어티 예능</p>
          <!-- <strong>Monir Hossain</strong> -->
          <br>
          <!-- <small>C.E.O</small> -->
        </div>
        <div class="testimonila-block">
          <img src="assets/images/testimonial2.jpg" alt="clients" class="selfshot">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem sed mollitia illum! Molestiae dignissimos, hic dolorem et eius ut nobis. Corrupti totam amet aperiam aut voluptate nobis dolor at soluta.</p>
          <strong>Nur Ul Hossain</strong>
          <br>
          <small>Project Manager</small>
        </div>
        <div class="testimonila-block">
          <img src="assets/images/testimonial3.jpg" alt="clients" class="selfshot">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem sed mollitia illum! Molestiae dignissimos, hic dolorem et eius ut nobis. Corrupti totam amet aperiam aut voluptate nobis dolor at soluta.</p>
          <strong>Hossain Abrar</strong>
          <br>
          <small>Developer</small>
        </div>
      </div>
    </div>
  </div><!-- container -->
</section><!-- testimonial -->
