<section id="testimonial" class="testimonial-area">
  <div class="container" style="margin-top: 60px;">
    <!-- <h2 class="block_title">Testimonials</h2> -->
    <div class="row">
      <div id="testimonial-container" class="col-xs-12">
        <div class="testimonila-block">
          <img src="assets/images/bookae_title.png" alt="clients" class="selfshot">
          <!-- <p>국내 최초 부캐, 마미손! <br />그가 사는 별, 페르소나 행성<br />다섯 분파 부캐들이 이야기하는 <br /> 언리얼 버라이어티 예능</p> -->
          <!-- <strong>Monir Hossain</strong> -->
          <br>
          <!-- <small>C.E.O</small> -->
        </div>
      </div>
    </div>
  </div><!-- container -->
</section><!-- testimonial -->
<section id="testimonial-1" class="testimonial-area">
  <div class="container">
    <h2 class="block_title">PERSONA PLANET</h2>
    <div class="row">
      <div id="testimonial-container" class="col-xs-12">
        <hr />
        <div class="testimonila-block">
          <strong>지구의 평행우주 속<br /> 존재하는 행성, 페르소나 별</strong>
          <p style="margin-top: 40px;">30년전 알 수 없는 질병이 페르소나 별을 덮쳤고, <br />오랜 연구 끝에 바이러스 백신을 발견한 마미손<br />지구 또한 블루 바이러스가 퍼져있음을 확인한 마미손은<br /> 이를 퇴치하기 위해 거대한 계획을 세우게 되는데...</p>
        </div>
        <div class="testimonila-block">
          <p style="color: #ff7da9;">모든 지구인들의 부캐가 공존하는<br />특별한 곳에서 특별한 이야기가 시작된다.</p>
        </div>
        <hr />
      </div>
      <hr />
    </div>
  </div><!-- container -->
</section><!-- testimonial -->
<section id="testimonial-2" class="testimonial-area">
  <div class="container">
    <h2 class="block_title">SAEUL</h2>
    <div class="row">
      <div class="col-xs-12">
      </div>
      <div id="testimonial-container" class="col-xs-12">
        <div class="testimonila-block">
          <strong>부캐들의 근원 '새울시'</strong>
          <p style="margin-top: 40px;">부캐들의 능력이 만들어지는 <br />페르소나별의 중심지</p>
          <br>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="testimonial-container" class="col-xs-12">
        <div class="testimonila-block">
          <a class="saeul" target="_blank" href="http://saeul.kr">
            <img src="assets/images/saeul_button.png"/>
          </a>
        </div>
      </div>
    </div>
  </div><!-- container -->
</section><!-- testimonial -->
